{% extends "base.html" %}
{% load static %}


{% block title %}
    <h1><span>{{coffee_house.name}}</span></h1>
{% endblock title %}

{% block content %}
    {% if menus %}

        {% for menu, items in menuitems.items %}
            <a href="{% url "home:menu_detail" coffee_house_slug menu.slug%}" class="menu-a">
                <h2>{{menu.name}}</h2>
            </a>
            {% for item in items %}
                <div class="card">
                    {% if item.photo %}
                        <a href="{% url "home:item_detail" coffee_house_slug menu.slug item.slug%}"><img src="{% static item.photo %}" alt=""></a>
                    {% endif %}
                    <p><a href="{% url "home:item_detail" coffee_house_slug menu.slug item.slug%}">{{item.name}}</a></p> <br>

                </div>
            {% endfor %}
        {% endfor %}


    {% endif %}
{% endblock content %}