{% extends "base.html" %}
{% load static %}

{% block title %}
    <h1><span>CoffeeHouse</span></h1>
{% endblock title %}

{% block content %}
    <!-- Все кофейни -->
    {% if form %}
    {% for Coffee in form %}
    <div class="card">
        <a href="{% url "home:coffee_house_detail" Coffee.slug%}">
            <h2>Кофейня: {{Coffee.name}}</h2>
        </a>
        <p>График работы: {{Coffee.schedule}}</p>
        {% if Coffee.description %}
            <p>Описание: {{Coffee.description}}</p>
        {% endif %}
    </div><div class="card">
    </div>
    {% endfor %}
    {% endif %}
{% endblock content %}