{% extends "base.html" %}
{% load static %}

{% block title %}
    <h1><span>CoffeeHouse</span></h1>
{% endblock title %}

{% block content %}
    <!-- Все кофейни -->
    {% if form %}
    {% for Coffee in form %}
    <div class="card">
        <a href="{% url "coffee_house:coffee_house_detail" Coffee.slug%}">
            <h2>Кофейня: {{Coffee.name}}</h2>
        </a>
        <p>График работы: {{Coffee.schedule}}</p>
        {% if Coffee.description %}
            <p>Описание: {{Coffee.description}}</p>
        {% endif %}
        {% if user.is_authenticated and user.is_superuser %}
            <form action="{% url "coffee_house:delete_coffee_house" Coffee.slug %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="coffee_house_slug" value="{{ Coffee.slug }}">
                <button> Удалить </button><br>
                <button> Редактировать</button><br>
            </form>
                {% endif %}
    </div><div class="card">
    </div>
    {% endfor %}
    {% endif %}
{% endblock content %}