{% extends "base.html" %}
{% load static %}

{% block title %}
    <h1><span>{{ menu.name }}</span></h1>
{% endblock title %}

{% block content %}
<div class="card">
    {% if item.photo %}
    <img src="{% static item.photo %}" alt="" class="card-img">
    {% endif %}
    <p>{{item.name}}</p>
    <p>Объём/количество: {{item.quantity}} {{item.unit}}</p>
    <a href="{% url "menu:menu_detail" coffee_house_slug menu_slug%}">
        <p>Меню: {{item.menu}}</p>
    </a>

</div>
{% endblock content %}